# Run 3 copies of our image behind a single load balancer
apiVersion: apps/v1
kind: Deployment
metadata:
  name: horoscope-deployment
  labels:
    app: horoscope
spec:
  replicas: 3
  selector:
    matchLabels:
      app: horoscope
  template:
    metadata:
      labels:
        app: horoscope
    spec:
      containers:
        - name: horoscope
          image: ghcr.io/determinatesystems/horoscope:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
